# ───── ENVIRONMENT ─────
ENV=
PREFIX=

DEV_GUILD_ID=

# ───── DISCORD ─────
DISCORD_TOKEN=your_token_here

SYNC_COMMANDS=true
DEBUG_HTTP=false

# ───── DATABASE ─────

# Supported:
# sqlite
# postgres
# mysql
DB_TYPE=sqlite

# SQLITE
# Stored in /.DB_DND/
SQLITE_NAME=bot.db

# OPTIONAL DIRECT DATABASE URL
DATABASE_URL=

# DATABASE CREDENTIALS
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
DB_NAME=
DB_SSL=False


# ───── SAFETY FLAGS ─────
ALLOW_TABLE_DROP=false

# ---------- CDN URLS -------------
AFK_IMAGE_URL=https://cdn.discordapp.com/attachments/1476443404207652916/1512558268197765221/afk.gif

MENTION_GIF_URL=https://cdn.discordapp.com/attachments/1476443404207652916/1512558249474527344/mention.gif

HELP_BANNER_GIF=https://cdn.discordapp.com/attachments/1476443404207652916/1512558276418736178/help.gif