# ───── ENVIRONMENT ─────
ENV=
PREFIX=

DEV_GUILD_ID=

# ───── DISCORD ─────
DISCORD_TOKEN=your_token_here

SYNC_COMMANDS=true
DEBUG_HTTP=false

# ───── DATABASE ─────

# Supported:
# sqlite
# postgres
# mysql
DB_TYPE=sqlite

# SQLITE
# Stored in /.DB_DND/
SQLITE_NAME=bot.db

# OPTIONAL DIRECT DATABASE URL
DATABASE_URL=

# DATABASE CREDENTIALS
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
DB_NAME=

# ───── SAFETY FLAGS ─────
ALLOW_TABLE_DROP=false

# ---------- CDN URLS -------------
AFK_IMAGE_URL=https://cdn.discordapp.com/attachments/1476443404207652916/1496839408874164377/c3c83dce2e8c3b2416fc5848209648c1.jpg
MENTION_GIF_URL=https://cdn.discordapp.com/attachments/1476443404207652916/1496838606923366471/5129075af0f53791c7563c8151d8d91a.jpg
HELP_BANNER_GIF=https://cdn.discordapp.com/attachments/1476443404207652916/1496838924805603369/367876bae284d72b3bd74ffa1e4346d7.jpg